{
    "env": {
      "mocha": true,
      "node": true
    },
    "extends": "airbnb",
    "parserOptions": {
      "ecmaVersion": 2017
    },
  "rules": {
    "no-underscore-dangle": "off",
    "max-len": 1,
    "no-unused-expressions": ["error", {"allowTernary": true}]
  }
}
